---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("contact", "index");
const { contact_form_action } = config.params;
const { title, description, info } = entry?.data;
---

<Base title={title} description={description}>
  <section class="section">
    <div class="container">
      <h1 class="text-center font-normal" set:html={markdownify(title)} />
      <div class="section row pb-0">
        <div class="col-12 md:col-6 lg:col-7">
          <form id="contact" class="contact-form" method="GET" action={contact_form_action}>
            <div class="mb-3">
              <input
                class="form-input w-full rounded"
                name="name"
                type="text"
                placeholder="Name"
                required
              />
            </div>
            <div class="mb-3">
              <input
                class="form-input w-full rounded"
                name="email"
                type="email"
                placeholder="Your email"
                required
              />
            </div>
            <div class="mb-3">
              <input
                class="form-input w-full rounded"
                name="subject"
                type="text"
                placeholder="Subject"
                required
              />
            </div>
            <div class="mb-3">
              <textarea
                class="form-textarea w-full rounded-md"
                name="message"
                rows="7"
                placeholder="Your message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary"> Send Now</button>
          </form>
        </div>
        <div class="content col-12 md:col-6 lg:col-5">
          <h4 set:html={markdownify(info?.title)} />
          <p class="mt-4" set:html={markdownify(info?.description)} />
          <ul class="contact-list mt-5 list-none pl-0">
            {
              info?.contacts?.map((contact: string) => (
                <li>
                  <strong class="text-dark" set:html={markdownify(contact)} />
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </section>
</Base>

<script>
  const form = document.getElementById("contact");
  var xhr = new XMLHttpRequest();

  const handleFormSubmission = (event) => {
    // prevent page from reloading
    event.preventDefault();

    const data = event.target.elements;
    console.log(data)
    // put into JSON object
    const formData = {
      name: data.name.value,
      email: data.email.value,
      subject: data.subject.value,
      message: data.message.value,
    };

    // Set POST request method to our netlify function
    xhr.open("POST", ".netlify/functions/contact");

    // Set the request headers
    xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");

    // Send the data as JSON to our netlify function
    xhr.send(JSON.stringify(formData));

    // Handle the response
    xhr.onload = function () {
      const response = JSON.parse(xhr.responseText);

      if (xhr.status === 200) {
        // The request was successful
        console.log("success");
      } else {
        // The request failed
        console.log("fail");
      }
    };
  };

  // add the submission event listener
  form.addEventListener("submit", handleFormSubmission, true);
</script>
